<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="zh-tw" />
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:author" content="Otis" />
    <meta property="og:image" content="http://blog.otisready.com/images/Otis@3x.png" />
    <%= display_meta_tags site: 'Otis Blog' %>
    <!-- Use title if it's in the page YAML frontmatter -->
    <!-- <title><%= current_page.data.title || "Otis Blog" %></title> -->

    <link rel="shortcut icon" href="/images/favicon.ico?v3" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
  </head>

  <body class="<%= page_classes %>">
    <header class="tc">
      <div>
        <a href="/" class="LogoClub"><span class="LogoClub-subtitle">- I'm Otis.Chou</span></a>
      </div>
      <a class="header-item" href="/index.html">Article</a>
      <a class="header-item" href="/tags.html">Tag</a>
      <a class="header-item" href="http://feeds.feedburner.com/otistw">RSS</a>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <footer>
      <div class="power-by">Copyright © <a href="mailto:altispec@gmail.com">Otis Chou</a> - Built with <a href="http://middlemanapp.com/">Middleman</a> in Taiwan 2014</div>
      <div class="contact"></div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55636222-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1589247067973244',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/zh_TW/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <%#= javascript_include_tag  "all" %>
  </body>
</html>