<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <nav>
      <a class="logo" href="/"><span class="bold">OTIS</span>.blog</a>
      <ul class="menu">
        <li class="item">TALKS</li>
        <li class="item">TAGS</li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="power-by">2014 by Otis Chou</div>
      <div class="contact"></div>
    </div>
  </body>
</html>